<!-- create.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Music Format</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create Music Format</h1>
    <form method="post" action="/inab4">
      <label >MUSICFORMAT:</label>
      <input type="text" id="musicformat" name="musicformat" />
      <br />
      
      <input type="submit" value="create" />
    </form>
    <div class="link-center">
      <a href="/formatview">Back to List Music Format</a>
    </div>
  </body>
</html>