<!-- create.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Music Name</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create Music Name</h1>
    <form method="post" action="/inab3">
      <label >MUSICNAME:</label>
      <input type="text" id="music_name" name="music_name" />
      <br />
      
      <input type="submit" value="create" />
    </form>
    <div class="link-center">
      <a href="/msn">Back to List Music Name</a>
    </div>
  </body>
</html>