<!-- books.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Music format</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <h1>Music format</h1>
  <table class="book-table">
    <tr>
      <th>id_fom</th>
      <th>Musicformat</th>
      <th>Actions</th>
      
    </tr>
    <% for(var i=0; i < musicformat.length; i++) { %>
    <tr>
      <td><%= musicformat[i].id_fom %></td>
      <td><%= musicformat[i].musicformat %></td>
      
      <td>
        <a href="/updatefm/<%= musicformat[i].id_fom %>">Edit</a>
        <a href="/delete3/<%= musicformat[i].id_fom %>">Delete</a>
      </td>
    </tr>
    <% } %>
  </table>
  <div class="link-center">
    <a href="/" class="btn btn-success">Back to MusicAlbum</a>
    <a href="/inab4" class="btn btn-danger">Create New Music format</a>
  </div>
</body>
</html>
