<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>View MusicAlbum</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    
    <h1>View MusicAlbum</h1>
    <table class="book-table">
     
        <tr></tr><td><center>MUSICFORMAT : <%= musicformat.musicformat %></td>
        <tr></tr><td><center>MUSICNAME : <%= music.music_name %></td>
        <tr></tr><td><center>COMPOSERNAME : <%= Composer.composer_name %></td>
      </tr>

    </table>

    <div class="link-center">
      <a href="/">Back to List</a>
    </div>
  </body>
</html>